#container {
    /* border: 2px solid black; */
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #fcf2f0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tophalf, #bottomhalf {
    /* border: 2px solid red; */
    height: 500px;
}

.tophalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1 {
    font-size: 18px;
    color: rgb(99, 99, 99);
}
#rock, #paper, #scissors {
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    /* border: 2px solid green; */
}

#bottomhalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#roundNo {
    font-weight: bold;
}